body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc;
    background-image: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.container {
    display: flex;
    align-items: center;
    margin-right: 50%;

}

.container img {
    border-radius: none;
    transition: all linear 0.3s;
    background-repeat: no-repeat;
    transform: translate(-5%, -5%);
    width: 180px;
    height: 180px;
}

h1 {

    color: black;
    font-weight: bold;
    font-size: 50;

}

header {

    color: #fff;
    padding: 1rem;
    text-align: center;

}

header button {

    background-color: black;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    cursor: pointer;

}

main {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

input[type="text"] {
    padding: 0.5rem;
    width: 300px;
    margin-right: 1rem;
    border-radius: 20px;

}

button {
    padding: 0.5rem 1rem;

    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 30px;
}

button:hover {
    background-color: #0056b3;
}

.card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    color: black;
    border: 5px solid black;


}

.card button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;




}

#wordContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    gap: 20px;

}

#historyContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.mening {
    font-size: 22px;
    font-weight: normal;
}

.itmMean {
    font-size: 22px;
    font-weight: normal;
}
